<!-- BEGIN switch_display_medal -->
<script language="JavaScript" type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/medals/toggle_display.js"></script>
<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{L_MEDAL_INFORMATION}</h3>
		<h3>{L_MEDALS_VIEW}:&nbsp;<b>{USER_MEDAL_COUNT}</b></h3>
		<table width="100%" cellspacing="1" cellpadding="3" border="0" align="center">
			<tr>
				<td class="row2" width="100" valign="center">
					<!-- BEGIN medal -->
					{switch_display_medal.medal.MEDAL_BUTTON}
					<!-- END medal -->
				</td>
				<td class="row2" valign="top">
					<!-- BEGIN details -->
					&nbsp;{switch_display_medal.details.MEDAL_IMAGE_SMALL}&nbsp;
					<!-- END details -->
				</td>
			</tr>
		</table>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<div style="width: 100%; overflow: hidden; display: none;" id="toggle_medal">
<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
<a name="medal"></a>
<table width="100%" cellspacing="1" cellpadding="3" border="0" align="center">
  <tr>
	<th align="center" nowrap="nowrap"><h3>{L_MEDAL}</h3></th>
	<th align="center" nowrap="nowrap"><h3>{L_MEDAL_DETAIL}</h3></th>
  </tr>
<!-- BEGIN details -->
  <tr>
	<td class="row2" nowrap="nowrap" width="20%">
		<table width="100%" cellspacing="1" cellpadding="3" border="0">
<!-- IF switch_display_medal.details.ISMEDAL_CAT  -->
		<tr><td align="center"><h4>{switch_display_medal.details.MEDAL_CAT}</h4></td></tr>
<!-- ENDIF  -->
		<tr><td align="center">{switch_display_medal.details.MEDAL_NAME}</td></tr>
		<tr><td align="center">{switch_display_medal.details.MEDAL_IMAGE}</td></tr>
		<tr><td align="center">{switch_display_medal.details.MEDAL_COUNT}</td></tr></table></td>
	<td class="row2" valign="top">
		<table width="100%" cellspacing="1" cellpadding="3" border="0">
		<tr><td><h3>{L_MEDAL_DESCRIPTION}: <b>{switch_display_medal.details.MEDAL_DESCRIPTION}</b></h3></td></tr>
		<tr><td class="reason">
			<table width="100%" cellspacing="1" cellpadding="3" border="0">
			<tr><td>{switch_display_medal.details.MEDAL_ISSUE}</td></tr>
			</table>
		</td></tr>
	</table></td>
  </tr>
<!-- END details -->
</table>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
</div>
<!-- END switch_display_medal -->
